altair==4.2.2
attrs
blinker
cachetools
certifi
charset-normalizer
click
gitdb
gitpython
idna
jinja2
jsonschema
jsonschema-specifications
markdown-it-py
markupsafe
mdurl
narwhals
numpy
packaging
pandas
pillow
pyarrow
pydeck
pygments
python-dateutil
pytz
referencing
requests
rich
rpds-py
six
smmap
streamlit
streamlit-nightly
tenacity
toml
tornado
typing-extensions
tzdata
urllib3
watchdog
openpyxl
openai
google-analytics-data
google-auth
python-dotenv
pymongo
dnspython<3.0.0
vega_datasets
